{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "strict": "error",
        "no-debugger": "error",
        "camelcase": "error",
        "no-underscore-dangle": "error",
        "no-mixed-spaces-and-tabs": "error",
        "key-spacing": "error",
        "no-irregular-whitespace": "error",
        "no-multi-spaces": "error",
        "comma-spacing": "error",
    }
}